version: '3.1'

services:
    mysql:
        image: mysql:latest
        container_name: wpw-mysql
        volumes:
            - ./mysql_data:/var/lib/mysql
        ports:
            - 5000:3306
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_USER: wpw
            MYSQL_PASSWORD: password
            MYSQL_DATABASE: wpwdb

    nginx:
        build:
            context: .
            dockerfile: docker/nginx/Dockerfile
        container_name: wpw-nginx
        volumes:
            - .:/var/www/html
            - ./web/app/uploads:/var/www/html/web/app/uploads/
        ports:
            - 8080:80
        links:
            - php-fpm

    php-fpm:
        build:
            context: .
            dockerfile: docker/php-fpm/Dockerfile
        container_name: wpw-php
        volumes:
            - .:/var/www/html
            - ./web/app/uploads:/var/www/html/web/app/uploads/
        environment:
            WP_ENV: development
            WP_HOME: http://localhost:8080
            WP_SITEURL: http://localhost:8080/wp
            #DB
            DB_NAME: wpwdb
            DB_USER: wpw
            DB_PASSWORD: password
            DB_HOST: mysql
            #WP
            AUTH_KEY: 'REPLACE_THIS'
            SECURE_AUTH_KEY: 'REPLACE_THIS'
            LOGGED_IN_KEY: 'REPLACE_THIS'
            NONCE_KEY: 'REPLACE_THIS'
            AUTH_SALT: 'REPLACE_THIS'
            SECURE_AUTH_SALT: 'REPLACE_THIS'
            LOGGED_IN_SALT: 'REPLACE_THIS'
            NONCE_SALT: 'REPLACE_THIS'
            #AWS
            AWS_ACCESS_KEY_ID: 'REPLACE_THIS'
            AWS_SECRET_ACCESS_KEY: 'REPLACE_THIS'
            DISABLE_WP_CRON: 'true'
        links:
            - mysql
