@font-face {
  font-family: 'Rustic Gate Vintage';
  src: url('fonts/Rustic Gate Vintage.eot');
  src: local('☺'),
  url('fonts/Rustic Gate Vintage.ttf') format('truetype'),
  url('fonts/Rustic Gate Vintage.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prohibition Round';
  src: url('fonts/Prohibition W00 Round.eot');
  src: local('☺'),
  url('fonts/Prohibition W00 Round.woff') format('woff'),
  url('fonts/Prohibition W00 Round.ttf') format('truetype'),
  url('fonts/Prohibition W00 Round.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

